section.resume-section {
  padding-top: 1rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    // .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
  .img-profile {
    max-width: 16rem;
    max-height: 16rem;
    // border: 0.3rem solid rgb(15, 98, 204);
    // border: 0.5rem solid fade-out($white, 0.8);
  }
  .my-auto {
    margin-top: 4rem!important;
    margin-bottom: 1rem!important;
  }
}

@media (min-width: 768px) {
  section.resume-section {
    // min-height: 110vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
    .img-profile {
      max-width: 16rem;
      max-height: 16rem;
      // border: 0.4rem solid rgb(15, 98, 204);
    }
  }
}

@media (min-width: 992px) {
  section.resume-section {
    min-height: 110vh;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}